clarissa
clarissa_static
*.o
*.out
*.test
*.swp
macs.csv
*.dot
*.svg
*.png
debian/clarissa
debian/tmp
debian/debhelper-build-stamp
out/
debian/*.debhelper
debian/files
debian/clarissa.substvars
index.html
clar_OUI.csv
matcrc
*.html
*.[0-9]
