[Unit]
Description=Network census daemon
Documentation=man:clarissa(8)
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/clarissa -p
Restart=always
ExecStop=/bin/kill -s QUIT $MAINPID
ExecStopPost=/bin/sh -c 'rm -f /tmp/clar_*'

[Install]
WantedBy=multi-user.target
