[Unit]
Description=the network census daemon
Documentation=man:clarissa(8)
after=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/clarissa
Restart=always
RestartSec=1
StartLimitBurst=10
TimeoutStopSec=7

[Install]
WantedBy=multi-user.target
